body { 
    font-family: MiloTESC, Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
    font-variant-ligatures: none;    
    max-width: 1200px;
    margin: auto;
    columns: 2;
    column-gap: 2em;
    padding: 1em 0;
}

img {
    width: 100%;
    padding-bottom: 1em;
    margin-top: -1em;
}

header h1 {
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 1.25;
}

header p {
    font-style: italic;
}

content { 
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.6;
}

content p:last-child::after {
    content: ' ■';
    background: #e3120b;
    display: inline-block;
    height: .5625em;
    margin: 0 0 0 .25rem;
    text-indent: -17982px;
    text-indent: -999rem;
    vertical-align: middle;
    width: .5625em;
}

footer {
    font-size: small;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

@media only screen and (max-width: 900px) {
    body {
        margin: 0 1em 0 1em;
        columns: 1;
    }
    main {
        text-align: left;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        margin: 0 1em 0 1em;
    }
}